.titulo-principal {
    font-family: 'Lato', sans-serif;
    font-size: 2.9 rem;
    text-decoration: underline;
    font-weight: bold;
    text-align: center
}

.titulo-article {
text-align: center;
margin: 1rem;
padding: 1rem;
font-size: 1rem;
color: black;
letter-spacing: 1px;
background-color: rgb(109, 211, 109);
width: 100%;
}







